nav {

  &.minimal-tabs {

    .dropdown-menu {
      width: 99%;
    }

    @media (min-width: $screen-sm-min) {
      background-color: $gray-lightest;
      margin-top: -$spacing;
      padding-top: $spacing;

      .nav.nav-tabs {

        > li {

          &.active {
            > a {
              color: $gray;
              font-weight: bold;
              border: none;
              border-bottom: 2px solid $accent !important;
            }
          }

          > a {

            @include transition(border $animationTime ease-out);

            background-color: transparent;
            color: $gray-light;
            border: none ;
              border-bottom: 2px solid $gray-lightest;

            border-radius: 0 ;

            &:hover {
              color: $gray;
              border-bottom: 2px solid $gray-lighter;
            }

            &:active {
              color: $gray-darker;
              border-bottom: 2px solid $gray-lighter;
            }
          }
        }
      }
    }
  }
}
