// Golden State
// ------------------------------
$blue                 : #a1cecb;
$blue-dark            : #80b1b2;
$yellow               : #8293A5;
$accent               : #FFCC33;
$green                : #94BA65;
$red                  : #d6364e;
$red-dark             : #bd293e;
$black                : #3A4149;
$white                : #d9d9d9;
// ------------------------------



// $blue               : #3498db;
// $blue-dark          : #2980b9;
// $black              : #3c3c3e;
// $black-dark         : #323234;
// $yellow             : #e8cd58;
// $yellow-dark        : #dfc24d;
// $red                : #d6364e;
// $red-dark           : #bd293e;
// $white              : #b3b3b3;
// $white-dark         : #808080;
// $accent             : #8069b6;

// Flat UI
// http://designmodo.github.io/Flat-UI/
// ------------------------------
// $green              : #2ecc71;
// $green-dark         : #27ae60;
// $blue               : #3498db;
// $blue-dark          : #2980b9;
// $black              : #34495e;
// $black-dark         : #223344;
// $yellow             : #f1c40f;
// $yellow-dark        : #f39c12;
// $red                : #e74c3c;
// $red-dark           : #c0392b;
// $accent             : #9b59b6;
// ------------------------------

// Miami Dolphins
// ------------------------------
// $black                 : #3A4149;
// $blue                  : #BFCBD4;
// $yellow                : #8293A5;
// $green                 : #008D97;
// $red                   : #015679;
// $accent                : #F5811F;
// ------------------------------

// Spring theme
// ------------------------------
// $green              : #5AAC7B;
// $blue               : #4BC1DD;
// $black              : #3A4149;
// $yellow             : #E0E4CC;
// $red                : #F9A5A1;
// $accent             : #BCD3CD;
// ------------------------------

// Giant Goldfish theme
// ------------------------------
// $green              : #69D2E7;
// $blue               : #A7DBD8;
// $black              : #3A4149;
// $yellow             : #ced3b7;
// $red                : #aeaeae;
// $accent             : #F9CDAD;
// ------------------------------

// Gray theme
// ------------------------------
// $black                 : #3A4149;
// $green                 : #5AAC7B;
// $blue                  : #BFCBD4;
// $yellow                : #8293A5;
// $red                   : #CC333F;
// $accent                : #5D6876;
// $sidebar-active-color  : #fff;

// $sidebar-color         : #333;
// $sidebar-heading-color : #4f4f4f;
// $sidebar-link-color    : #999;
// $sidebar-footer-color  : #2d2d2d;
// ------------------------------

// SIDEBAR THEMES
// ==============================

// Minna Original
// ------------------------------
// $sidebar-color         : #2c2e2f;
// $sidebar-heading-color : #444;
// $sidebar-link-color    : #a6a5a5;
// $sidebar-footer-color  : #2c2e2f;
// ------------------------------

// Sublime
// ------------------------------
// $sidebar-active-color  : #fff;
// $sidebar-color         : #2b303b;
// $sidebar-heading-color : #3a454f;
// $sidebar-link-color    : #757a84;
// $sidebar-footer-color  : #1c1f26;
// ------------------------------
